{% extends 'base.html' %}
{% block content %}
<div style="margin-left: 200px; margin-bottom: 50px;">
    <h2 style="margin-top: 125px; margin-bottom: 20px; color: #094b65;">register</h2>
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" style="
    background: #fff;
    width: 230px;
    color: #094b65;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;">register</button>
</form>
</div>
{% endblock %}